@import url("https://fonts.googleapis.com/css?family=Poppins:700");

* {
    font-family: sans-serif, poppins;
    background-color: #705c5c;
}

header .img {
    height: 50px;
}   


  header {
      display: flex;
      width: 100%;
      justify-content: flex-start;
  }
  
  
  nav img{
      width: 15%;
      margin-top: -1vh;
  }

  ul{
      list-style: none;
      display: flex;
  } 
  
  a {
      text-decoration: none;
      color: white;
      display: flex;
      font-size: 20px;
      font-family: poppins;
      margin-top: 3.7vh;
      margin-left: 2vw;
  }

  a:hover {
      color: wheat;


  }
  a:after {
      color: wheat;
      transition: 0.2s;
  }

  .account img {
      width: 5.5%;
      display: flex;
      justify-content: flex-end;
      margin-left: 57vw;
      margin-top: 2vh;
      cursor: pointer;
  }


  