@import url("https://fonts.googleapis.com/css?family=Poppins:700");

* {
    font-family: sans-serif, poppins;
    background-color: #705c5c;
}

  header {
      display: flex;
      width: 100%;
      justify-content: flex-start;
  }
  
  
  nav img{
      width: 15%;
      margin-top: -1vh;
  }

  ul{
      list-style: none;
      display: flex;
  } 
  
  a {
      text-decoration: none;
      color: white;
      display: flex;
      font-size: 20px;
      font-family: poppins;
      margin-top: 3.7vh;
      margin-left: 2vw;
  }

  a:hover {
      color: wheat;


  }
  a:after {
      color: wheat;
      transition: 0.2s;
  }

  .row_posters img {
      width: 16%;
      margin-left: 3vw;
      align-items: center;
  }
  
  main h1{
      margin-left: 3vw;
      font-family: sans-serif, poppins;
      color: wheat;
  }


  /* Dropdown Button */
    .dropbtn {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    border: none;
    display: flex;
    justify-content: flex-end;
  }
  
  .dropdown img {
      width: 8%;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: -2vw;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    text-decoration: none;
  }

  
  .dropdown-content:after {
      color: wheat;
      transition: 0.3s;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      color: wheat;
      transition: 0.3s;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: grid;
      transition: 0.3s;    
    } 
  
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: #3e8e41;
      transition: 0.3s;
    }