@import url("https://fonts.googleapis.com/css?family=Poppins:700");

* {
    font-family: poppins , sans-serif;
    background-color: #483D3D;
}

*:before,
*:after{
    padding: 0;
    box-sizing: border-box;
}

nav{    
    height: 10vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}

a{
    position: relative;
    text-decoration: none;
    font-family: poppins, sans-serif;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    padding: 0 10px;
    margin-left: 10px;
    text-decoration: solid 1px;
}

a:after {
    content: "";
    position: absolute;
    background-color: wheat;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover{
    color: #ffffff;
}
a:hover:after{
    width: 100%;
}   


.row-home{
    display: flex;
    align-items: center;
    background-color: #362e2e 50px;
    justify-content: space-around 10px;

}
.row-home img{
    width: 260px;
    margin-left: 2.2vw;
}

.row-home2{
    display: flex;
    align-items: center;
}
.row-home2 img{
    width: 260px;
    margin-left: 2.2vw;
}
h1 {
    display: flex;
    margin-left: 2.2vw;
    color: white;
}
/* dit hoort bij de pagina */

.nav2 h1 {
    font-family: poppins , sans-serif;
    margin: 1px;
    background-color: #544848;
}

.nav2 button{
    border: 1px 5px solid black;
    display: flex;
    cursor: pointer;
    background-color: #544848;
    color: white;
    border-radius: 15px; 
    float: right 20px;
}

nav img {
    margin-left: 10px;
    cursor: pointer;
}

