*{
    background-color: #483D3D;
    font-family: Arial, Helvetica, sans-serif;
}

#Button{
    display: flex;
    background-color:#ffffff8c;
    border: none;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    float: right;
}

    #Alles{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 10vw;
        color: #ffffff;
    }

    .img1{
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin: 0 20px;
    }

    #Pfp1{
        flex-direction: column;
    }

    #Pfp2{
        flex-direction: column;
    }



