body{
    background-color: #483D3D;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

@media screen and (min-width: 100px) and (max-width:767.9px){ /*Telefoon*/
    #uprow{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #uprow a{
        text-decoration: none;
        color: whitesmoke;
        margin-top: 5vh;
    }
    
    .logo{
        display: flex;
        margin-top: 0;
        width: 50vw;
        height: 20vw;
    }

    .shline{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        font-size: 1.5rem;
    }
    
    #pfprow{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        margin-top: -10vh;
        padding: 10vh;
    }

    #pfprow2{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        margin-top: -20vh;
        padding: 10vh;
    }

    .imgs{
        height: 10vh;
        width: 10vh;
    }
}
    
@media screen and (min-width: 768px) and (max-width:1199px){ /*Tablet*/
}

@media screen and (min-width: 1200px){ /*Desktop*/

}

