body{
    background-color: #483D3D;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}

@media screen and (min-width: 1200px){ /*Desktop*/

    #Button{
        display: flex;
        background-color:#ffffff8c;
        border: none;
        padding: 12px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        float: right;
    }

    #Alles{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 10vw;
        color: #ffffff;
    }

    .imgs{
        display: block;
        border-radius: 50%;
        height: 15vh;
        width: 15vh;
        margin: 0 20px;
   }
}
    
@media screen and (min-width: 768px) and (max-width:1199px){ /*Tablet*/
    #Button{            
        display: flex;
        background-color:#ffffff8c;
        border: none;
        padding: 12px 10px;            
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        float: right;
        }

        #Alles{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-top: 15vw;
            color: #ffffff;
        }
        
        .img1{
            border-radius: 50%;
            height: 50px;
            width: 50px;
            margin: 0 10vh;
        }

        .imgs{
            display: block;
            border-radius: 50%;
            height: 10vh;
            width: 10vh;
            margin: 0 20px;
       }
}

@media screen and (min-width: 100px) and (max-width:767.9px){ /*Telefoon*/
    #Button{            
        display: flex;
        background-color:#ffffff8c;
        border: none;
        padding: 12px 10px;            
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        float: right;
        }

        #Alles{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 70vw;
            color: #ffffff;
        }
        
        .img1{
            border-radius: 50%;
            margin: 0 20px;
        }

        .imgs{
            display: block;
            border-radius: 50%;
            height: 10vh;
            width: 10vh;
            margin: 0 20px;
       }

    }

