body{
    background-color: #483D3D;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

@media screen and (min-width: 100px) and (max-width:767.9px){ /*Telefoon*/

}
    
@media screen and (min-width: 768px) and (max-width:1199px){ /*Tablet*/

}


@media screen and (min-width: 1200px){ /*Desktop*/
    .banner{
        margin: -10px;
    }

    .banner img{
        max-width: 100%;
    }

    .row-home{
        display: flex;
        flex-direction: row;
        height: 25vw;
        width: 25vw;
    }
}


