body{
    background-color: #483D3D;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

#searchengine{
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchenginebot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}